@{
    ViewData["Title"] = "GibJohn Tutoring - Home";
}
<h1 class="display-4">Welcome to GibJohn Tutoring!</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <section id="rounded-box" class="p-4 shadow-sm bg-#8e604a">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Ante eget nostra sodales gravida eros inceptos netus. Laoreet fames pulvinar ad aptent blandit rhoncus. Imperdiet metus nullam nostra lectus; enim eleifend. Adipiscing aenean nullam nibh senectus lacus eleifend cras nibh enim. Finibus adipiscing montes ut auctor ipsum suspendisse diam. Adipiscing nulla erat vehicula volutpat fames tempus ridiculus. Fermentum torquent ipsum nisl; phasellus lobortis eu consequat.
        </section>
    </div>
    <div class="col-md-6">
        <section id="rounded-box" class="p-4 shadow-sm bg-#8e604a">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Ante eget nostra sodales gravida eros inceptos netus. Laoreet fames pulvinar ad aptent blandit rhoncus. Imperdiet metus nullam nostra lectus; enim eleifend.
        </section>
    </div>
</div>

<style>
    #rounded-box {
        border-radius: 20px;
        background-color: #8e604a;
        padding:20px;
        font-size:20px;
    }

    h1 {
        text-align:center;
    }
</style>