@{
    ViewData["Title"] = "Support Page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's support details.</p>
<img src="https://progameguides.com/wp-content/uploads/2020/11/fortnite-jonesy-the-first-featured.png" alt="Big Sigma Skibidi Posing like a bully">
